/* Header within nav-bar */
#nav_Header {
    text-align: center;
    font-size: xx-large;
}

/* Vertical side nav-bar */
nav {
    border-style: dashed;
    font-size: x-large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  a:hover {
      background-color: green;
      color: white;
  }

  /* To not overlap the 'main' and nav bar */
  main {
      margin-left: 25%;
      padding: 1px 16px;
      height: 1000px;   
  }

  /* having the format of  */
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 5px;
}

/* Styling main page */
header {
    font-size: large;
}


/* Media query */
@media screen and (max-width: 570px) {
    nav  {
        font-size: small;
    }
    
    #nav_Header {
        font-size: small;
    }

    #main-doc {
        font-size: x-small;
    }
}